@import 'reset';

span {
	margin:1em 1em;
}

body {
	margin:1em 1em;
}

.header {
	background-color: rgb(220,230,234);
}

.table-titles {
	background-color: rgb(202,222,231);
}

input {
	margin:1em 1em;
}

table {
	padding:1em 1em;

	th {
		border-bottom:1px solid black;
	}

}

.row {
	padding:0.4em 0;
	background-color:lightgrey;
}

.title {
	background-color: rgb(202,222,230);
	padding: 0.4em 0;
	width:100%;
}

.even {
	background-color: rgb(229,236,242);
}

.odd {
	background-color: rgb(245,248,253);
}

.bigBorder {
	border-bottom:3px solid black;
}

.big {
	width:60%;
}

.little {
	width:10%;
}
.centered{
	text-align: center;
}
