@import 'reset';

span {
	margin:1em 1em;
}

.header {
	background-color: rgb(220,230,234);
}

.table-titles {
	background-color: rgb(202,222,231);
}

input {
	margin:1em 1em;
}

table {
	margin:1em 1em;
	padding:1em 1em;

	th {
		border-bottom:1px solid black;
	}

}
