<!doctype html>
<html class="no-js" lang="">
  <head>
	<meta charset="utf-8">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
	<title>Angular Fancy Table</title>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- build:css styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:css styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<!-- endbuild -->

	<!-- build:js scripts/vendor/modernizr.js -->
	<script src="/bower_components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
  </head>
  <body ng-app="app" ng-controller="sortController">
	<!--[if lt IE 10]>
	  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div class="header">
		<span class="states"> States </span>
		<input type="text" placeholder="Filter" ng-model="filterBy">
	</div>
	<table>
		<!-- <tr>
			<th ng-class="{ state: sBorder, abb: aBorder, link: lBorder }" ng-click="stateClick()"> State <i ng-show="stateArrow" class="fa fa-caret-up"> </i> <i ng-hide="stateArrow" class="fa fa-caret-down"></i></th>
			<th ng-click="abbClick()"> Abbreviation <i ng-show="abbArrow" class="fa fa-caret-up"> </i> <i ng-hide="abbArrow" class="fa fa-caret-down"></i></th>
			<th> Link </th>
		</tr>
		<tr ng-repeat='state in changeArray'>
			<td> {{ state.name }} </td>
			<td> {{ state.abbreviation }} </td>
			<td> <a ng-href="https://en.wikipedia.org/wiki/{{ state.name }}"> {{state.name}}</a> </td>
		</tr> -->

		<tr>
			<th class="title" ng-click="click('title')"> Title  <i ng-show="stateArrow" class="fa fa-caret-up"> </i> <i ng-hide="stateArrow" class="fa fa-caret-down"></i></th>
			<th class="title" ng-click="click('num_favorers')"> Favorites <i ng-show="abbArrow" class="fa fa-caret-up"> </i> <i ng-hide="abbArrow" class="fa fa-caret-down"></i></th>
			<th class="title" ng-click="click('quantity')"> Quanity </th>
			<th class="title"> Etsy Link </th>
		</tr>
		<tr ng-repeat='state in changeArray'>
			<td ng-class-odd="'odd'" ng-class-even="'even'" class="row"> {{ state.title }} </td>
			<td ng-class-odd="'odd'" ng-class-even="'even'" class="row"> {{ state.num_favorers }} </td>
			<td ng-class-odd="'odd'" ng-class-even="'even'" class="row"> {{ state.quantity }} </td>
			<td ng-class-odd="'odd'" ng-class-even="'even'" class="row"> <a ng-href="{{ state.url }}"> Link </a> </td>
		</tr>
	</table>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/angular/angular.js"></script>
	<script src="/bower_components/lodash/lodash.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

		<!-- build:js scripts/main.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/controllers.js"></script>
		<script src="scripts/services.js"></script>
		<!-- endbuild -->
</body>
</html>
